@model IEnumerable<SistemasVirtuales.Models.Semestre>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.inicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.folio)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.inicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.folio)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_semestre }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_semestre }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_semestre })
        </td>
    </tr>
}

</table>
